.head {
    background-color: rgb(103, 210, 252);
    line-height: 80px;
    text-align: center;
    font-size: 25px;
    height: 100px;
    font-weight: bold;
    color: black;
    a {
      color: #ece70f;
      &:hover {
        cursor: pointer;
        color: #e362c4;
      }
    }
  }